@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    --bg-color: #191b24;
    --tea-color: #cb7ae8;
    --tangerine-color: #f29559;
    --cloud-color: #6ba2a6;
    --cloud-color-transparent: rgba(107, 162, 166, 0.2);
    --text-color: #ccc;
}

body {
    text-rendering: optimizeLegibility;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--cloud-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

h3, h4, h5 {
    color: var(--cloud-color);
}

p, ul, ol {
    line-height: 1.5;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
}

header {
    width: 100%;
    /*border-bottom: 1px solid var(--tea-color);*/
}

header .logo {
    height: 2rem;
    margin-right: 1rem;
}

.logoicon {
    height: 2rem;
}

header ul {
    display: flex;
    margin: 1.5rem;
    padding: 0;
    align-items: center;
}

header li {
    list-style-type: none;
    margin: 0 0.5rem;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
}

header a, footer a {
    color: var(--tea-color);
    text-decoration: none;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pagination .paginator-prev {
    flex-basis: 100%;
    text-align: left;
}

.pagination .paginator-next {
    flex-basis: 100%;
    text-align: right;
}

.content {
    padding: 0 1.5rem;
    margin: 0 auto;
}

.post {
    margin-bottom: 2rem;
}

.post-info {
    color: var(--cloud-color);
    font-family: "Fira Code", monospace;
}

.post-content {
    margin: 1rem 0;
}

.hanchor {
    margin-left: 0.5rem;
    text-decoration: none;
    visibility: hidden;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a {
    visibility: visible;
}

a.title-link {
    text-decoration: none;
    color: var(--text-color);
}

figure {
    margin: 1rem 0;
}

figure img {
    width: 100%;
    margin: 0.5rem auto;
}

figcaption {
    margin: 0.5rem 0;
    background-color: var(--cloud-color);
    text-align: center;
    color: var(--bg-color);
    padding: 0.5rem;
}

figcaption p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

pre {
    border: 1px solid var(--cloud-color);
    padding: 1rem;
}

code {
    background-color: var(--cloud-color-transparent);
    font-family: "Fira Code", monospace;
    padding: 0.1rem 0.4rem;
    color: var(--cloud-color);
}

pre code {
    padding: 0;
    background-color: transparent;
    color: var(--cloud-color);
}

hr {
    border-color: var(--cloud-color);
    margin: 1rem 0;
}

blockquote {
    border-left: 1px solid var(--cloud-color);
    margin: 0.5rem 0;
    padding: 0 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.accent {
    color: var(--tea-color);
}

table {
    margin: auto;
}
th, td {
    padding: 0.5rem;
}
table, th, td {
    border: 1px solid var(--cloud-color);
    border-collapse: collapse;
}
