<!-- I wrote this all by hand in one evening with the help of my text editor. -->
<table class="crossword">
    <tr>
        <td class="c"><span class="n">1</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">2</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">3</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">4</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="c"><span class="n">5</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">6</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">7</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><span class="n">8</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
    </tr>
    <tr>
        <td><span class="n">9</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><span class="n">10</span><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="c"><span class="n">11</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">12</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">13</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td class="b"></td>
        <td><span class="n">14</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><span class="n">15</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
    </tr>
    <tr>
        <td><span class="n">16</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="c"><span class="n">17</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">18</span><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td><span class="n">19</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><span class="n">20</span><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="c"><span class="n">21</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">22</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">23</span><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><span class="n">24</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><span class="n">25</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td class="c"><span class="n">26</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">27</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">28</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">29</span><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><span class="n">30</span><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><span class="n">31</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td class="b"></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><span class="n">32</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><span class="n">33</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><span class="n">34</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
    </tr>
    <tr>
        <td class="c"><span class="n">35</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">36</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><span class="n">37</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><span class="n">38</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
    </tr>
    <tr>
        <td class="b"></td>
        <td><span class="n">39</span><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="b"></td>
        <td><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
    </tr>
    <tr>
        <td class="c"><span class="n">40</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="b"></td>
        <td class="c"><span class="n">41</span><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
        <td class="c"><p class="l" contenteditable="true"></p></td>
    </tr>
</table>