<html>
<head>
<title>spdskatr</title>
<style>
body {
    background-color: black;
}
.nothingcontainer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.nothing {
    text-align: center;
    font-family: "Arial", "Liberation Sans", sans-serif;
    color: yellow;
    width: 100%;
    font-style: italic;
    margin-bottom: 1rem;
}
.nothingp {
    text-align: center;
    font-family: "Arial", "Liberation Sans", sans-serif;
    color: white;
    width: 100%;
    margin-bottom: 1rem;
}
.nothingp a {
    color: white;
}
</style>
</head>
<body>
<div class="nothingcontainer">
<p class="nothingp">(Error 404. <a href="{{ "/" | relURL }}">Back to Home</a>)</p>
<h1 class="nothing">Wow, look! Nothing!</h1>
</div>
</body>
</html>
